@charset "UTF-8";
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes roundAll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes roundAll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: Musinsa;
  src: url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Light.eot);
  src: local("☺"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Light.eot?#iefix)
      format("embedded-opentype"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Light.woff2)
      format("woff2"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Light.woff) format("woff"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Light.ttf)
      format("truetype"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Light.svg#MusinsaLight)
      format("svg");
}
@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: Musinsa;
  src: url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Medium.eot);
  src: local("☺"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Medium.eot?#iefix)
      format("embedded-opentype"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Medium.woff2)
      format("woff2"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Medium.woff) format("woff"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Medium.ttf)
      format("truetype"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Medium.svg#MusinsaRegular)
      format("svg");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: Musinsa;
  src: url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Bold.eot);
  src: local("☺"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Bold.woff2) format("woff2"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Bold.woff) format("woff"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Bold.ttf)
      format("truetype"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsaot-Bold.svg#musinsaot-Bold)
      format("svg");
}
@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Musinsa Stencil";
  src: url(//image.msscdn.net/musinsaUI/fonts/MusinsaLightStencil.eot);
  src: local("☺"),
    url(//image.msscdn.net/musinsaUI/fonts/MusinsaLightStencil.eot?#iefix)
      format("embedded-opentype"),
    url(//image.msscdn.net/musinsaUI/fonts/MusinsaLightStencil.woff2)
      format("woff2"),
    url(//image.msscdn.net/musinsaUI/fonts/MusinsaLightStencil.woff)
      format("woff"),
    url(//image.msscdn.net/musinsaUI/fonts/MusinsaLightStencil.ttf)
      format("truetype"),
    url(//image.msscdn.net/musinsaUI/fonts/MusinsaLightStencil.svg#MusinsaLightStencil)
      format("svg");
}
@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Musinsa Stencil";
  src: url(//image.msscdn.net/musinsaUI/fonts/MusinsaRegularStencil.eot);
  src: local("☺"),
    url(//image.msscdn.net/musinsaUI/fonts/MusinsaRegularStencil.eot?#iefix)
      format("embedded-opentype"),
    url(//image.msscdn.net/musinsaUI/fonts/MusinsaRegularStencil.woff2)
      format("woff2"),
    url(//image.msscdn.net/musinsaUI/fonts/MusinsaRegularStencil.woff)
      format("woff"),
    url(//image.msscdn.net/musinsaUI/fonts/MusinsaRegularStencil.ttf)
      format("truetype"),
    url(//image.msscdn.net/musinsaUI/fonts/MusinsaRegularStencil.svg#MusinsaRegularStencil)
      format("svg");
}
@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Musinsa Italic";
  src: url(//image.msscdn.net/musinsaUI/fonts/musinsait-Light.eot);
  src: local("☺"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsait-Light.eot?#iefix)
      format("embedded-opentype"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsait-Light.woff2)
      format("woff2"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsait-Light.woff) format("woff"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsait-Light.ttf)
      format("truetype"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsait-Light.svg#musinsait-Light)
      format("svg");
}
@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Musinsa Italic";
  src: url(//image.msscdn.net/musinsaUI/fonts/musinsait-Medium.eot);
  src: local("☺"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsait-Medium.eot?#iefix)
      format("embedded-opentype"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsait-Medium.woff2)
      format("woff2"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsait-Medium.woff) format("woff"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsait-Medium.ttf)
      format("truetype"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsait-Medium.svg#musinsait-Medium)
      format("svg");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Musinsa Italic";
  src: url(//image.msscdn.net/musinsaUI/fonts/musinsait-Bold.eot);
  src: local("☺"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsait-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsait-Bold.woff2) format("woff2"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsait-Bold.woff) format("woff"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsait-Bold.ttf)
      format("truetype"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsait-Bold.svg#musinsait-Bold)
      format("svg");
}
@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Musinsa Round";
  src: url(//image.msscdn.net/musinsaUI/fonts/musinsard-Medium.eot);
  src: local("☺"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsard-Medium.eot?#iefix)
      format("embedded-opentype"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsard-Medium.woff2)
      format("woff2"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsard-Medium.woff) format("woff"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsard-Medium.ttf)
      format("truetype"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsard-Medium.svg#musinsard-Medium)
      format("svg");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Musinsa Round";
  src: url(//image.msscdn.net/musinsaUI/fonts/musinsard-Bold.eot);
  src: local("☺"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsard-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsard-Bold.woff2) format("woff2"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsard-Bold.woff) format("woff"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsard-Bold.ttf)
      format("truetype"),
    url(//image.msscdn.net/musinsaUI/fonts/musinsard-Bold.svg#musinsard-Bold)
      format("svg");
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Noto Sans KR";
  src: url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Regular.eot);
  src: local("☺"),
    url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Regular.woff2)
      format("woff2"),
    url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Regular.woff) format("woff"),
    url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Regular.ttf)
      format("truetype"),
    url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Regular.svg#NotoSans-Regular)
      format("svg");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Noto Sans KR";
  src: url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Bold.eot);
  src: local("☺"),
    url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Bold.woff2) format("woff2"),
    url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Bold.woff) format("woff"),
    url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Bold.ttf) format("truetype"),
    url(//image.msscdn.net/musinsaUI/fonts/NotoSans-Bold.svg#NotoSans-Bold)
      format("svg");
}
.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}
body.fixed {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.header {
  position: relative;
  z-index: 500;
  border-bottom: 1px solid #ddd;
}
.header__block {
  height: 100px;
  background-color: #000;
  font-size: 20px;
  line-height: 100px;
  color: #fff;
  text-align: center;
}
.wusinsa .header__block {
  background-color: #a5a9b9;
}
.mensinsa .header__block {
  background-color: #1a294f;
}
.header__badge {
  display: inline-block;
  min-width: 8px;
  height: 14px;
  margin: -1px 4px 0 0;
  padding: 4px 5px 0 5px;
  border-radius: 18px;
  background-color: #0078ff;
  font-size: 11px;
  font-family: Musinsa, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  line-height: normal;
  color: #fff;
  text-align: center;
  vertical-align: top;
}
.header-member {
  display: flex;
  height: 50px;
  padding-left: 8px;
  font-size: 14px;
  font-size: 12px;
  font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  line-height: 1.5;
  align-items: center;
}
.header-member__login {
  box-sizing: border-box;
  width: 150px;
  height: 28px;
  margin: 0 3px 0 7px;
  padding-top: 1px;
  border: 1px solid #000;
  line-height: 26px;
}
.header-member__login:hover {
  background-color: #000;
  color: #fff;
}
.header-member__link {
  display: inline-flex;
  padding: 4px;
  line-height: 21px;
}
.header-member__link--user {
  font-weight: 700;
}
.header-member__link--direct-on {
  padding-top: 5px;
  font-family: Musinsa, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  color: #00a3ff;
  transform: translate3d(0, 0, 0);
}
.header-member__link--direct-off {
  padding-top: 5px;
  font-family: Musinsa, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  color: red;
}
.header-member__link--like {
  color: red;
}
.header-member__link--event {
  font-weight: 700;
  color: #048eff;
}
.wusinsa .header-member__link--event {
  color: #0078ff;
}
.header-member__link:hover {
  text-decoration: underline;
}
.header-member__block {
  display: flex;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  padding: 0 9px 0 8px;
  align-items: center;
}
.header-member__block::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 12px;
  margin-top: -6px;
  background-color: #eee;
  content: "";
}
.header-member__block:last-child::after {
  display: none;
}
.header-member-direct {
  z-index: 1;
  width: 212px;
  padding: 15px;
  font-size: 12px;
}
.header-member-direct__information > dt {
  padding-bottom: 6px;
}
.header-member-direct__information > dd {
  position: relative;
  margin-top: 2px;
  padding-left: 10px;
}
.header-member-direct__information > dd:before {
  display: block;
  position: absolute;
  top: 6px;
  left: 2px;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: #000;
  content: "";
}
.header-member-direct__state-on {
  font-family: Musinsa, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  color: #00a3ff;
}
.header-member-direct__state-off {
  font-family: Musinsa, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  color: red;
}
.header-member-direct__button {
  display: block;
  width: 100%;
  height: 32px;
  margin-top: 14px;
  background-color: #000;
  font-size: 14px;
  line-height: 32px;
  color: #fff;
  text-align: center;
}
.PCommonPageHeader {
  display: flex;
  min-height: 52px;
  padding: 8px 15px;
  align-items: center;
}
.PCommonPageHeader__title {
  margin-right: 20px;
  font-weight: 400;
  font-size: 24px;
  font-family: Musinsa, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  line-height: 36px;
}
.PCommonPageHeader__sub-text {
  font-size: 14px;
  line-height: 21px;
}
.PCommonPageHeader__sub-text .txt-primary {
  vertical-align: top !important;
}
.PCommonPageHeader button {
  display: flex;
  box-sizing: border-box;
  height: 32px;
  margin-left: 10px;
  padding: 0 10px;
  border: 1px solid #ddd;
  font-weight: 700;
  font-size: 12px;
  align-items: center;
}
.PCommonTopBox {
  border-bottom: 1px solid #d1d1d1;
}
.PCommonLogin {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}
.PCommonLogin p {
  display: flex;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
}
.PCommonLogin__login-button {
  position: relative;
  margin-bottom: 9px;
  padding-right: 10px;
  font-size: 24px;
  font-family: Musinsa, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  line-height: 36px;
  align-self: flex-start;
}
.PCommonLogin__login-button::after {
  position: absolute;
  top: 12px;
  right: 0;
  width: 6px;
  height: 6px;
  border: 1px solid #000;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
  content: "";
}
.PCommonLogin__join-button {
  display: inline-flex;
  box-sizing: border-box;
  height: 32px;
  margin-left: 10px;
  padding: 0 10px;
  border: 1px solid #ddd;
  font-weight: 700;
  font-size: 12px;
  align-items: center;
}
.PCommonTab {
  display: flex;
  padding: 40px 0 40px 24px;
  align-items: center;
}
.PCommonTab__button {
  position: relative;
  padding: 0 15px 0 16px;
  font-size: 20px;
  font-family: Musinsa, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  line-height: 30px;
  color: #d1d1d1;
}
.PCommonTab__button:first-child {
  padding-left: 0;
}
.PCommonTab__button:first-child::before {
  display: none;
}
.PCommonTab__button::before {
  display: block;
  position: absolute;
  top: 6px;
  left: 0;
  width: 1px;
  height: 18px;
  background-color: #d1d1d1;
  content: "";
}
.PCommonTab__button--is-active {
  color: #000;
}
.PCommonTab__button--is-active span {
  color: #0078ff;
}
.PCommonFilter {
  display: flex;
  padding: 19px 20px;
}
.PCommonFilter__tag {
  display: flex;
  height: 32px;
  margin-left: 8px;
  padding: 0 8px;
  border-radius: 4px;
  background-color: #f3f3f3;
  font-size: 14px;
  color: #6e6e6e;
  align-items: center;
}
.PCommonFilter__tag:first-child {
  margin-left: 0;
}
.PCommonFilter__tag--is-active {
  color: #0078ff;
}
.PCommonFilter__sort {
  position: relative;
  padding: 0 10px 0 11px;
  font-size: 14px;
  line-height: 18px;
  color: #d1d1d1;
}
.PCommonFilter__sort:first-child {
  padding-left: 0;
}
.PCommonFilter__sort:first-child::before {
  display: none;
}
.PCommonFilter__sort::before {
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 1px;
  height: 13px;
  background-color: #d1d1d1;
  content: "";
}
.PCommonFilter__sort--is-active {
  font-weight: 700;
  color: #000;
}
.PCommonFilter-result {
  display: flex;
  padding: 0 20px 20px 20px;
}
.PCommonFilter-result__button {
  position: relative;
  height: 26px;
  margin-right: 8px;
  padding: 0 25px 0 10px;
  border-radius: 4px;
  background-color: #0078ff;
  font-size: 12px;
  line-height: 29px;
  color: #fff;
}
.PCommonFilter-result__button::before {
  position: absolute;
  top: 9px;
  right: 15px;
  width: 1px;
  height: 10px;
  background-color: #fff;
  transform: rotate(45deg);
  content: "";
}
.PCommonFilter-result__button::after {
  position: absolute;
  top: 9px;
  right: 15px;
  width: 1px;
  height: 10px;
  background-color: #fff;
  transform: rotate(135deg);
  content: "";
}
.PCommonCoupon {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  width: 345px;
  height: 140px;
  padding: 20px 15px 15px;
  border: 1px solid black;
  background-color: #fff;
}
.PCommonCouponList {
  display: flex;
  margin: 0 -5px;
  border-bottom: 1px solid #d1d1d1;
  flex-wrap: wrap;
}
.PCommonCouponList .PCommonCoupon {
  margin: 0 5px 10px;
}
.PCommonCouponList--sale {
  padding: 4px 15px 160px;
}
.PCommonCouponList--search-coupon {
  padding: 0 0 160px 0;
}
.PCommonCouponList__noresult {
  width: 100%;
  height: 70px;
  font-size: 14px;
  line-height: 70px;
  color: #919191;
  text-align: center;
}
.PCommonCoupon--brand {
  border-color: #0078ff;
}
.PCommonCoupon__title {
  display: -webkit-box;
  overflow: hidden;
  width: calc(100% - 70px);
  max-height: 40px;
  margin-bottom: 9px;
  padding-top: 1px;
  font-weight: 700;
  font-size: 14px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.PCommonCoupon__label {
  display: inline-block;
  height: 20px;
  margin-top: -1px;
  padding: 0 6px;
  border-radius: 2px;
  background-color: #f3faff;
  font-weight: 400;
  font-size: 11px;
  font-family: Musinsa, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  line-height: 20px;
  color: #0078ff;
  vertical-align: bottom;
}
.PCommonCoupon__label:first-of-type {
  margin-right: 2px;
}
.PCommonCoupon__label:last-of-type {
  margin-right: 6px;
}
.PCommonCoupon__label--app {
  background-color: #f9f9f9;
  color: #4f4f4f;
}
.PCommonCoupon__label--direct {
  color: #14aaff;
}
.PCommonCoupon__information {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}
.PCommonCoupon__bottom {
  display: flex;
}
.PCommonCoupon__period {
  display: flex;
  font-size: 12px;
  font-family: Musinsa, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
}
.PCommonCoupon__period em {
  margin-right: 5px;
  color: #ff5300;
}
.PCommonCoupon__period span {
  position: relative;
  margin-right: 6px;
  padding-right: 6px;
  color: #6e6e6e;
}
.PCommonCoupon__period span::after {
  display: block;
  position: absolute;
  top: 1px;
  right: 0;
  width: 1px;
  height: 11px;
  background-color: #e5e5e5;
  content: "";
}
.PCommonCoupon__period span:last-of-type {
  margin-right: 0;
  padding-right: 0;
}
.PCommonCoupon__period span:last-of-type::after {
  display: none;
}
.PCommonCoupon__discount {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.PCommonCoupon__discount__rate {
  margin-right: 6px;
  font-weight: 400;
  font-size: 28px;
  font-family: Musinsa, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  line-height: 100%;
  color: #0078ff;
}
.PCommonCoupon__discount__information {
  display: flex;
  margin-bottom: 5px;
  padding-top: 5px;
  font-size: 12px;
  font-family: Musinsa, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  color: #b3b3b3;
  align-items: flex-end;
}
.PCommonCoupon__discount__information em {
  margin-right: 4px;
  color: #0078ff;
}
.PCommonCoupon__button {
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  height: 22px;
  margin-left: 6px;
  padding: 0 8px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: #fff;
  font-size: 12px;
  line-height: 22px;
}
.PCommonCoupon__buttons {
  display: flex;
  margin: 0 0 3px auto;
  align-items: flex-end;
}
.PCommonCoupon__button > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.PCommonCoupon__button:first-child {
  z-index: 1;
}
.PCommonCoupon__button:last-of-type {
  position: static;
}
.PCommonCoupon__button--not-applicable {
  color: #b3b3b3;
}
.PCommonCoupon__button--download {
  border-color: #000;
  background-color: #000;
  color: #fff;
}
.PCommonCoupon__logo {
  display: flex;
  position: absolute;
  top: 20px;
  right: 15px;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 1px solid #e5e5e5;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}
.PCommonCoupon__logo > img {
  max-width: 70%;
  max-height: 50%;
}
.PCommonCoupon__logo--full {
  overflow: hidden;
}
.PCommonCoupon__logo--full > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: none;
  height: 100%;
  max-height: none;
  -o-object-fit: cover;
  object-fit: cover;
}
.PCommonCoupon__event {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.header-member-newsfeed {
  width: 330px;
  padding: 40px 15px 0 15px;
}
.header-member-newsfeed__close {
  position: absolute;
  top: 4px;
  right: 9px;
  padding: 6px;
}
.header-member-newsfeed__close > svg {
  vertical-align: top;
}
.header-member-newsfeed__all {
  display: block;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  font-weight: 700;
  text-align: center;
}
.header-member-newsfeed__none {
  padding: 20px 0 30px 0;
  font-size: 12px;
  line-height: 15px;
  color: #777;
  text-align: center;
}
.header-member-newsfeed__list {
  display: flex;
  margin-bottom: 20px;
}
.header-member-newsfeed__list__information {
  margin-right: 10px;
}
.header-member-newsfeed__list__type {
  display: flex;
  font-size: 12px;
  color: #777;
}
.header-member-newsfeed__list__type > svg {
  margin: -1px 2px 0 0;
  vertical-align: top;
}
.header-member-newsfeed__list__type > svg .svg-color {
  fill: #aaa;
}
.header-member-newsfeed__list--read .header-member-newsfeed__list__type {
  color: #aaa;
}
.header-member-newsfeed__list--read
  .header-member-newsfeed__list__type
  > svg
  .svg-color {
  fill: #ccc;
}
.header-member-newsfeed__list__link {
  display: inline-block;
  margin: 2px 0 4px 0;
  font-size: 14px;
  text-align: left;
  word-break: keep-all;
}
.header-member-newsfeed__list__link:hover {
  text-decoration: underline;
}
.header-member-newsfeed__list--read .header-member-newsfeed__list__link {
  color: #aaa;
}
.header-member-newsfeed__list__time {
  display: flex;
}
.header-member-newsfeed__list__time > span {
  display: block;
  width: 50px;
  margin-right: 5px;
  font-size: 12px;
  color: #777;
}
.header-member-newsfeed__list--read .header-member-newsfeed__list__time > span {
  color: #aaa;
}
.header-member-newsfeed__list__img {
  overflow: hidden;
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: auto;
  border-radius: 4px;
  background-color: #f1f1f1;
  flex: none;
}
.header-member-newsfeed__list__img > img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.header-member-newsfeed__list__img--brand {
  border-radius: 100%;
}
.header-member-newsfeed__list__img--brand > img {
  width: auto;
  max-width: 70%;
  max-height: 50%;
}
.header-member-newsfeed-v2 {
  width: 375px;
  padding: 15px 0 0 0;
}
.header-member-newsfeed-v2__notice {
  width: calc(100% - 30px);
  margin: 0 auto 15px;
  font-size: 12px;
  color: #777;
}
.header-member-newsfeed-v2__close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
}
.header-member-newsfeed-v2__close > svg {
  vertical-align: top;
}
.header-member-newsfeed-v2__all {
  display: block;
  width: calc(100% - 30px);
  margin: 0 auto;
  padding: 11px 0;
  border-top: 1px solid #eee;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
.header-member-newsfeed-v2__all__svg {
  vertical-align: top;
}
.header-member-newsfeed-v2__none {
  height: 150px;
  font-size: 12px;
  line-height: 150px;
  color: #777;
  text-align: center;
}
.header-member-newsfeed-v2__card-list-wrap {
  overflow-y: auto;
  max-height: 590px;
}
.header-member-newsfeed-v2__card-list {
  overflow: hidden;
  width: calc(100% - 30px);
  margin: 0 auto;
}
.header-member-newsfeed__card {
  overflow: hidden;
  padding: 10px 0;
  cursor: pointer;
}
.header-member-newsfeed__card__information {
  overflow: hidden;
  float: left;
  width: calc(100% - 36px);
}
.header-member-newsfeed__card__contents {
  float: left;
  width: 100%;
}
.header-member-newsfeed__card--image .header-member-newsfeed__card__contents {
  width: calc(100% - 50px);
}
.header-member-newsfeed__card__title {
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.header-member-newsfeed__card--shipping-start
  .header-member-newsfeed__card__title {
  color: #0078ff;
}
.wusinsa
  .header-member-newsfeed__card--shipping-start
  .header-member-newsfeed__card__title {
  color: #0078ff;
}
.header-member-newsfeed__card--read .header-member-newsfeed__card__title {
  color: #aaa;
}
.header-member-newsfeed__card__text {
  display: -webkit-box;
  overflow: hidden;
  font-size: 14px;
  line-height: 21px;
  white-space: normal;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.header-member-newsfeed__card__text--notice {
  -webkit-line-clamp: initial;
}
.header-member-newsfeed__card--read .header-member-newsfeed__card__text {
  color: #aaa;
}
.header-member-newsfeed__card__time {
  margin-top: 3px;
  font-size: 12px;
  line-height: 18px;
  color: #aaa;
}
.header-member-newsfeed__card__image {
  overflow: hidden;
  float: right;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #eee;
}
.header-member-newsfeed__card__image > img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: auto;
  transform: translateY(-50%);
}
.header-member-newsfeed__card--read .header-member-newsfeed__card__image {
  opacity: 0.5;
}
.header-member-newsfeed__card--title .header-member-newsfeed__card__image {
  margin-top: 13px;
}
.header-member-newsfeed__card__motion {
  clear: both;
  width: 100%;
  padding-top: 3px;
}
.header-member-newsfeed__card__motion > img {
  width: 100%;
}
.header-member-newsfeed__icon {
  float: left;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  border: 1px solid #eee;
  border-radius: 100%;
  text-align: center;
}
.header-member-newsfeed__icon__svg {
  margin: 3px 0;
}
.header-member-newsfeed__card--read .header-member-newsfeed__icon path {
  fill: #979797;
}
.coupon-container {
  min-width: 1560px;
}
.global-filter {
  position: fixed;
  right: 0;
  bottom: 264px;
  z-index: 10000;
  background-color: #fff;
}
.global-filter__button {
  display: block;
  width: 52px;
  height: 52px;
  border: 1px solid #ccc;
  font-size: 15px;
  font-family: Musinsa, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  color: #6e6e6e;
}
.global-filter__button + .global-filter__button {
  border-top: none;
}
.global-filter__button.active {
  color: #fff;
}
.global-filter__button--musinsa.active {
  background-color: #000;
}
.global-filter__button--mensinsa.active {
  background-color: #11214a;
}
.global-filter__button--wusinsa.active {
  background-color: #0078ff;
}
.layer-header-member {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 14px;
  font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  line-height: 1.5;
  transform: translate3d(-50%, 0, 0);
}
.layer-header-member__arrow {
  position: absolute;
  top: 0;
  left: 50%;
  margin: -13px 0 0 -12px;
}
.layer-header-member.active {
  display: block;
  -webkit-animation: fadeIn 0.2s;
  animation: fadeIn 0.2s;
}
.popup-dim {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.4);
}
.popup-dim.active {
  display: block;
  -webkit-animation: fadeIn 0.15s;
  animation: fadeIn 0.15s;
}
.ui-icon {
  background: 0 0 !important;
}

.wrap {
  clear: both;
  position: relative;
  width: 100%;
}

.wrap .right_area {
  width: calc(100% - 270px);
  position: absolute;
  left: 269px;
  top: 0px;
  right: 0px;
  min-width: 1291px;
  border-left: 1px solid rgb(221, 221, 221);
  box-sizing: border-box;
}

/* 쿠폰 등록 css 파일*/

.coupon-wrap {
  margin: 15px;
  max-width: 600px;
  width: 100%;
}
.coupon-wrap form {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.coupon-form-header {
  background-color: #45cae6;
  border-radius: 4px 4px 0 0;
  padding: 1em;
}
.coupon-form-header h2 {
  color: #fff;
  font-weight: 700;
  font-size: 1.75em;
  margin: 0;
}
.coupon-form-body {
  background-color: #fff;
  padding: 1em;
}
.coupon-form-body label,
.coupon-form-body input,
.coupon-form-body select,
.coupon-form-body textarea {
  display: block;
  width: 100%;
}
.coupon-form-body label {
  font-size: 0.8em;
  font-weight: 700;
  line-height: 1;
  margin: 0.75em 0 0.25em;
}
.coupon-form-body input .coupon-form-body select .coupon-form-body textarea {
  background-color: #f4f4f4;
  border: none;
  border-radius: 4px;
  padding: 0.25em;
}
.coupon-form-body fieldset {
  border: none;
  margin: 0 0 1em;
  padding: 0;
}
.coupon-form-body fieldset:last-of-type {
  margin-bottom: 0;
}
.coupon-form-body fieldset legend {
  font-size: 1.25em;
  font-weight: 700;
}
.coupon-form-footer #couponCreate {
  background-color: #e2e2e2;
  border-radius: 0 0 4px 4px;
  padding: 1em;
}
.coupon-form-footer input[type="submit"] #couponCreate {
  background-color: #f24865;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 1em 1.5em;
}
/******** Subscription option actions ********/
.sub-opts input[name="subscription"] {
  display: none;
}
.sub-opts input[name="subscription"] + .sub-opt {
  background-color: #f4f4f4;
  border-radius: 4px;
  font-weight: 700;
}
.sub-opts input[name="subscription"]:checked + .sub-opt {
  background-color: #09c775;
  color: #fff;
}
.sub-opts input[name="subscription"] + .sub-opt .sub-label .fa {
  display: none;
}
.sub-opts input[name="subscription"]:checked + .sub-opt .sub-label .fa {
  display: inline-block;
}
.sub-opts .sub-opt .sub-label {
  display: block;
  cursor: pointer;
  font-size: 1em;
  padding: 1em;
}
.sub-opts .sub-opt .sub-label span.price {
  display: inline-block;
  float: right;
}
